@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-theme-1: #ccfbff;
    --color-theme-mid: #00f260;
    --color-theme-2: #6cc6cb;
  }
  .th-cyan {
    --color-theme-1: #b7f8db;
    --color-theme-mid: #56c596;
    --color-theme-2: #50a7c2;
  }
  .th-blue {
    --color-theme-1: #89f7fe;
    --color-theme-mid: #78cfff;
    --color-theme-2: #66a6ff;
  }
  .th-purple {
    --color-theme-1: #667eea;
    --color-theme-mid: #6447bd;
    --color-theme-2: #764ba2;
  }
  .th-red {
    --color-theme-1: #537895;
    --color-theme-mid: #1C467F;
    --color-theme-2: #09203f;
  }
}

/* //TODO use tailwind */
body {
  font-family: sans-serif;
  color: #354358;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, var(--color-theme-1), var(--color-theme-2));
  border-radius: 30px;
 
}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
}

/* --color-theme-mid: #138086; */
/* --color-theme-mid: #86e3ce; */
/* --color-theme-mid: #2e4c6a; */
/* --color-theme-mid: #6E65C6; */
/* --color-theme-mid: #787ff6; */
